@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "file.scss";
@import "bootstrap-overrides.scss";



/*==================================
    TIMELINE
==================================*/

/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
  }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
  padding-left: 40px;
  position: relative;
  &:last-child {
    padding-bottom: 0;
  }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 15px;
  &.yellow:before {
    background: $yellow;
  }
  &.black:before {
    background: $black;
  }
  &.blue:before {
    background: $blue;
  }
  &.red:before {
    background: $red;
  }
  &.green:before {
    background: $green;
  }
  &.purple:before {
    background: $purple;
  }
  &:before {
    background: $primary;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px; left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out,
    border 0.3s ease-in-out;
  }
  &:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px; bottom: 0; left: 6px;
  }
  .timeline-item:last-child &:after {
    content: none;
  }
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid $primary;
}
.timeline-item:not(.period):hover .timeline-marker.yellow:before {
  background: transparent;
  border: 3px solid $yellow;
}
.timeline-item:not(.period):hover .timeline-marker.black:before {
  background: transparent;
  border: 3px solid $black;
}
.timeline-item:not(.period):hover .timeline-marker.blue:before {
  background: transparent;
  border: 3px solid $blue;
}
.timeline-item:not(.period):hover .timeline-marker.red:before {
  background: transparent;
  border: 3px solid $red;
}
.timeline-item:not(.period):hover .timeline-marker.green:before {
  background: transparent;
  border: 3px solid $green;
}
.timeline-item:not(.period):hover .timeline-marker.purple:before {
  background: transparent;
  border: 3px solid $purple;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
  padding-bottom: 40px;
  p:last-child {
    margin-bottom: 0;
  }
}

/*----- TIMELINE PERIOD -----*/

.period {
  padding: 0;
  .timeline-info {
    display: none;
  }
  .timeline-marker {

    &:before {
      background: transparent;
      content: "";
      width: 15px;
      height: auto;
      border: none;
      border-radius: 0;
      top: 0;
      bottom: 30px;
      position: absolute;
      border-top: 3px solid #CCD5DB;
      border-bottom: 3px solid #CCD5DB;
    }
    &.top:before{
      border-top: none;
    }
    &:after {
      content: "";
      height: 32px;
      top: auto;
    }
  }
  .timeline-content {
    padding: 40px 0 70px;
  }
  .timeline-title {
    margin: 0;
  }
}


hr.webform-horizontal-rule{
  border-top: 5px solid rgba(0,0,0,.1);
}

//.webform-submission-form legend, .webform-submission-form label{
//
//  font-size: 1.5rem;
//}

.nav-tabs.primary{
  margin-bottom: 10px;
}

.captcha{
  margin-bottom: 10px;
}

#toolbar-bar{
  padding-top: 93px;
  background-color: #ffc107;
}


td.views-field.views-field-group-roles .item-list ul li{
  margin: 0;
  padding: 0.2em 0.5em 0.2em 0.5em;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.group-items .profile{
  float: left;
}

article.group-items{
  margin-top: 30px;
}

.profile img{
  margin-right: 20px;
  height: 150px !important;
  width: 150px;
  object-fit: cover;
}

.profile {
  float: left;
}

p.group-item {
  margin: 15px 0;
}

.well {
  display: flex;
  align-items: center;
}

.group-item-teaser .nav-link{
  padding-left: 0px;
}



.profile .jumbotron img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profile h2{
  text-align: center;
}

fieldset.form-type-search{
  padding-left: 0px;
}

.list-group-item:not(.user-profile-field){
  border: none;
}

.search-form{
  margin-bottom: 40px;
}

nav .search-form{
  margin-bottom: 0px;
}

.container-inline div, .container-inline label {
  display: flex;
  flex: 0 0 auto;
}

.navbar-form {
  box-sizing: initial;
}

#search-block-form.form-row{
  margin-right: 5px;
  margin-left: 5px;
}

p.username{

  margin: 0px;
}

.private-message.private-message-full .username{
  line-height: 0.8;
}

#thread-members-display-container{
  margin-bottom: 40px;
  padding-left: 28px;
  padding-right: 25px;
}

#thread-members-display-container label{
  padding-right: 10px;
}

.private_message_thread_delete_link_wrapper{
  margin-bottom: 30px;
}


.private_message_thread_delete_link_wrapper a{

  @extend .btn;
  background-color: $warning;
  width: fit-content;
  color: white;
  text-decoration: none;
}



.private_message_thread_delete_link_wrapper a:hover{

  background-color: darken($warning, 10%);
}


.field--name-private-messages .field__label{
  @extend h2;
  margin-bottom: 10px;
  margin-top: 10px;
}



.private-message-thread-messages .message {
  border-radius: 20px 20px 20px 20px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  background-color: $gray-300;
}


#private-message-page .private-message-thread-full .field--name-private-messages .private-message{
  border: 0;
}

#private-message-page .private-message-thread-full .field--name-private-messages #load-previous-messages-button-wrapper{
  border: 0;
}

#load-previous-messages, #load-previous-threads-button{
  @extend .btn
}

.private-message-recipients{
  @extend h3;
}

#private-message-page .private-message-thread-full .private-message-recipients span, #private-message-page .private-message-thread-full .private-message-recipients article{
  padding: 0 3px;
}

.block-private-message-actions-block{
  margin-bottom: 30px;
}

.block-private-message-inbox-block{

  border: 0;
  background-color: lighten($cyan, 40%);
  border-radius: 20px 20px 20px 20px;
  padding: 15px 20px;
  margin-bottom: 85px;
}

.block-private-message-inbox-block .private-message-thread{
  border: 0;
}


#private-message-page{
  border: 0;
  background-color: $gray-100;
  border-radius: 20px 20px 20px 20px;
  padding: 35px 20px;
  margin-bottom: 85px;
}

.block-private-message-inbox-block .private-message-thread:hover{
  background-color: lighten($cyan, 20%);;
}

.block-private-message-notification-block{
  margin-right: 20px;
}



/**
 * @file
 * Tablesort indicator styles.
 */

.tablesort {
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin: 1px 0 0 5px;
}

.tablesort--asc {
  background-image: url(../../../../core/misc/icons/ffffff/twistie-down.svg);
}

.tablesort--desc {
  background-image: url(../../../../core/misc/icons/ffffff/twistie-up.svg);
}


fieldset.js-form-item label{
  @extend h3;
}

.field--label-above .field__label{
  @extend h3;
}

.field--type-comment{
  margin-top: 40px;
}

.field--name-field-competences, .field--name-field-showcase, .field--name-field-autobiography{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}