@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";



/*==================================
    TIMELINE
==================================*/

/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
  }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
  padding-left: 40px;
  position: relative;
  &:last-child {
    padding-bottom: 0;
  }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 15px;
  &.yellow:before {
    background: $yellow;
  }
  &.black:before {
    background: $black;
  }
  &.blue:before {
    background: $blue;
  }
  &.red:before {
    background: $red;
  }
  &.green:before {
    background: $green;
  }
  &.purple:before {
    background: $purple;
  }
  &:before {
    background: $primary;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px; left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out,
    border 0.3s ease-in-out;
  }
  &:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px; bottom: 0; left: 6px;
  }
  .timeline-item:last-child &:after {
    content: none;
  }
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid $primary;
}
.timeline-item:not(.period):hover .timeline-marker.yellow:before {
  background: transparent;
  border: 3px solid $yellow;
}
.timeline-item:not(.period):hover .timeline-marker.black:before {
  background: transparent;
  border: 3px solid $black;
}
.timeline-item:not(.period):hover .timeline-marker.blue:before {
  background: transparent;
  border: 3px solid $blue;
}
.timeline-item:not(.period):hover .timeline-marker.red:before {
  background: transparent;
  border: 3px solid $red;
}
.timeline-item:not(.period):hover .timeline-marker.green:before {
  background: transparent;
  border: 3px solid $green;
}
.timeline-item:not(.period):hover .timeline-marker.purple:before {
  background: transparent;
  border: 3px solid $purple;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
  padding-bottom: 40px;
  p:last-child {
    margin-bottom: 0;
  }
}

/*----- TIMELINE PERIOD -----*/

.period {
  padding: 0;
  .timeline-info {
    display: none;
  }
  .timeline-marker {

    &:before {
      background: transparent;
      content: "";
      width: 15px;
      height: auto;
      border: none;
      border-radius: 0;
      top: 0;
      bottom: 30px;
      position: absolute;
      border-top: 3px solid #CCD5DB;
      border-bottom: 3px solid #CCD5DB;
    }
    &.top:before{
      border-top: none;
    }
    &:after {
      content: "";
      height: 32px;
      top: auto;
    }
  }
  .timeline-content {
    padding: 40px 0 70px;
  }
  .timeline-title {
    margin: 0;
  }
}




.webform-submission-form legend, .webform-submission-form label{

  font-size: 1.5rem;
}

.nav-tabs.primary{
  margin-bottom: 10px;
}

.captcha{
  margin-bottom: 10px;
}

#toolbar-bar{
  padding-top: 93px;
  background-color: #ffc107;
}